body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
}

h1, h2 {
    text-align: center;
}

form {
    margin-bottom: 20px;
}

div {
    margin-bottom: 10px;
}

input {
    width: calc(100% - 20px);
    padding: 10px;
    margin-top: 5px;
}

button {
    width: 100%;
    padding: 10px;
    background: #333;
    color: #fff;
    border: none;
    cursor: pointer;
}

button:hover {
    background: #555;
}

#bookmarksList a {
    display: block;
    background: #f4f4f4;
    padding: 10px;
    margin: 5px 0;
    text-decoration: none;
    color: #333;
    border: 1px solid #ccc;
    border-radius: 3px;
}

#bookmarksList a:hover {
    background: #e4e4e4;
}
